.App {
  text-align: center;
  background-color: #1A1A33;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .imgslider{
  background-color: #1A1A33;
 }

 .image_hover:hover{
  transform: scale(1.2);
  
 }
 .image_hover{
  transition: transform .3s;
  cursor: pointer;
 }
 .display_grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
 }
  @media screen and (max-width:800px) and (min-width:600px)  {
    .display_grid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    
  }

  @media screen and (max-width:599px) and (min-width:100px)  {
    .display_grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    
  }
  /* @media only screen and (max-width:768px){
    .display_grid{

    }
  
  }
     */
  